Options +FollowSymlinks
RewriteEngine on
RewriteCond %{http_host} ^seusite.com.br [NC]
RewriteRule ^(.*)$ http://www.haremdobayma.com.br/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}